<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>autozfs</string>
    <key>Program</key>
    <string>/usr/local/bin/autozfs</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>UserName</key>
    <string>viraj</string>
    <key>SessionCreate</key>
    <true/>
    <key>InitGroups</key>
    <true/>
	<key>StandardErrorPath</key>
	<string>/tmp/autozfs.err</string>
	<key>StandardOutPath</key>
    <string>/tmp/autozfs.log</string>
</dict>
</plist>
